<a href="https://colab.research.google.com/github/SamarjeetKaur/ML/blob/master/ML_WS_Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python Programming language**
Python was developed by Guido van Rossum. Guido van Rossum started implementing Python in 1989. Python is a very simple programming language so even if you are new to programming, you can learn python without facing any issues.

Interesting fact: Python is named after the comedy television show Monty Python’s Flying Circus. It is not named after the Python snake.

Features of Python programming language
Features of Python
1. **Readable**: Python is a very readable language.

2. **Easy to Learn**: Learning python is easy as this is a expressive and high level programming language, which means it is easy to understand the language and thus easy to learn.


3. **Cross platform**: Python is available and can run on various operating systems such as Mac, Windows, Linux, Unix etc. This makes it a cross platform and portable language.

4. **Open Source**: Python is a open source programming language.

5. **Large standard library**: Python comes with a large standard library that has some handy codes and functions which we can use while writing code in Python.

6. **Free**: Python is free to download and use. This means you can download it for free and use it in your application. See: Open Source Python License. Python is an example of a FLOSS (Free/Libre Open Source Software), which means you can freely distribute copies of this software, read its source code and modify it.

7. **Supports exception handling**: If you are new, you may wonder what is an exception? An exception is an event that can occur during program exception and can disrupt the normal flow of program. Python supports exception handling which means we can write less error prone code and can test various scenarios that can cause an exception later on.

8. **Advanced features**: Supports generators and list comprehensions. 

9. **Automatic memory management**: Python supports automatic memory management which means the memory is cleared and freed automatically. You do not have to bother clearing the memory.

What Can You Do with Python?
You may be wondering what all are the applications of Python. There are so many applications of Python, here are some of the them.
1. **Web development** – Web framework like Django and Flask are based on Python. They help you write server side code which helps you manage database, write backend programming logic, mapping urls etc.

2. **Machine learning** – There are many machine learning applications written in Python. Machine learning is a way to write a logic so that a machine can learn and solve a particular problem on its own. For example, products recommendation in websites like Amazon, Flipkart, eBay etc. is a machine learning algorithm that recognises user’s interest. Face recognition and Voice recognition in your phone is another example of machine learning.

3. **Data Analysis** – Data analysis and data visualisation in form of charts can also be developed using Python.

4. **Scripting** – Scripting is writing small programs to automate simple tasks such as sending automated response emails etc. Such type of applications can also be written in Python programming language.

5. **Game development** – You can develop games using Python.

6. You can develop Embedded applications in Python.

7. **Desktop applications** – You can develop desktop application in Python using library like TKinter or QT.

#Printing basic stuff

In [4]:
print("Hello World")

Hello World

In [5]:
print('Hello World')

Hello World

In [6]:
#Double and Single quotes mean the same in case of strings

a= "Hello"
print(a)

a= 'Hello'
print(a)

print('a') #Put in quotation, it'll intrepret the argument as char/string and without quotes it'll be interpreted as a variable

Hello
Hello
a

In [72]:
a= 5
b=6
c="hello"
print(a+b)
print(a,b,c)

11
5 6 hello

##Below is an example of an expression. Expression is something that produces value. In this case, python interpreter interprets what's given in between the parentheses and evaluates that expression

In [75]:
print('*'*10)
print("hello \n"*10)
print(2*10)

**********
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

20

#Python Datatypes

###Integer : In Python 3, there is effectively no limit to how long an integer value can be. Of course, it is constrained by the amount of memory your system has, as are all things, but beyond that an integer can be as long as you need it to be:

In [9]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

#Floating-Point Numbers

###The float type in Python designates a floating-point number. float values are specified with a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation:

In [76]:
print(4.2)
print(4.2378+0.00001)

4.2
4.23781

In [11]:
print(4e7)

40000000.0

In [83]:
a=8e-4
print(a)
print(type(4))
print(type(a))
print(type(4.2))
print(type(4e7))
#type("Hello")

0.0008
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

#Complex Numbers
###Complex numbers are specified as < real part >+< imaginary part >j. For example:

In [13]:
type(2+3j)

complex

#Strings
###Strings are sequences of character data. The string type in Python is called str.

###String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [14]:
a="Hello World"
type(a)

str

#Boolean Type
###Python 3 provides a Boolean data type. Objects of Boolean type may have one of two ###values, True or False:

In [15]:
type(True)
type(False)

bool

#Arithmetic Operators
### Addition : a+b
### Subtraction: a-b
### Multiplicatiom: a*b
### Division: a/b
### Modulo: a%b (gives remainder when a is divided by b)
### Floor Division: a//b (rounds of quotient to next smallest whole number)
### Exponentiation: a**b (a raised to the power b)

In [16]:
a=5
b=2

print(a+b)

print(a-b)

print(a*b)

print(a/b)  #The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor

print(a%b)

print(a//b) #When the result of floor division (//) is positive, it is as though the fractional portion is truncated off, leaving only the integer portion.
            #When the result is negative, the result is rounded down to the next smallest (greater negative) integer

print(a**b)


#Try : -10 // 4

7
3
10
2.5
1
2
25

#Comparison Operators
### Equal to : a == b
### Not Equal to: a!=b
### Less than: a < b
### Less than equal to: a <=b
### Greater than: a > b
### Greater than equal to: a >= b

In [86]:
a="hello"
b="abc"
print(b>a)
a='a'
b='b'
print(b>a)

False
True

#Logical Operators

### not
### or
### and

#Bitwise Operators

### Bitwise operators treat operands as sequences of binary digits and operate on them bit by bit.
### Bitwise AND : a & b
### Bitwise OR  : a | b
### Bitwise negation: ~a  (1 in place of 0 and 0 in place of 1)
### Bitwise XOR : a ^ b
### Bitwise shift right n places : a >> n
### Bitwise shift left  n places:  a << n

#String and Operators

In [88]:
s="Machine"
l= "learning"
print(s+l)   # the + operator
print(s*5)  #the * operator

Machinelearning
MachineMachineMachineMachineMachine

### The in operator

In [89]:
l = 'M'

print(l in s or l)

True

###The not in operator

In [19]:
l='A'
print(l not in s)

True

#Built in String functions

### chr() : Converts an integer to a character
### ord(): Converts a character to an integer
### len(): Returns the length of a string
### str(): Returns a string representation of an object

In [91]:
len("a b")
a="hello"
print(a.upper())

HELLO

#String Indexing
###Often in programming languages, individual items in an ordered set of data can be accessed directly using a numeric index or key value. This process is referred to as indexing.

###In Python, strings are ordered sequences of character data, and thus can be indexed in this way. Individual characters in a string can be accessed by specifying the string name followed by a number in square brackets ([]).

###String indexing in Python is zero-based: the first character in the string has index 0, the next has index 1, and so on. The index of the last character will be the length of the string minus one.

In [93]:
s ="Hello World"
print(s[6])
print(s[len(s)-1])

#Print the last letter of this string using len() function
#Try negative indexing

W
d

#String slicing
###Python also allows a form of indexing syntax that extracts substrings from a string, known as string slicing. If s is a string, ###an expression of the form s[m:n] returns the portion of s starting with position m, and up to but not including position n:

In [21]:
s= "foobar"
print(s[2:5])

oba

###If you omit the first index, the slice starts at the beginning of the string. Thus, s[:m] and s[0:m] are equivalent:

In [110]:
print(s[0:6])
print(s[:6])
#try negative index slicing
s="hello"
print(s[:-1])

hello
hello
hell

# Specifying a Stride in a String Slice
###There is one more variant of the slicing syntax to discuss. Adding an additional : and a third index designates a stride (also called a step), which indicates how many characters to jump after retrieving each character in the slice.

###For example, for the string 'foobar', the slice 0:6:2 starts with the first character and ends with the last character (the whole string), and every second character is skipped.

In [119]:
s="foobar"
print(s[-1:-4:-1])
print(c)

rab

#Interpolating Variables Into a String
###One simple feature of f-strings you can start using right away is variable interpolation. You can specify a variable name directly within an f-string literal, and Python will replace the name with the corresponding value.

In [120]:
n=20
m=25
prod = m*n
print(f'The product of {n} and {m} is {prod}')
print("hell",n)

The product of 20 and 25 is 500
hell 20

#Modifying Strings
###In a nutshell, you can’t. Strings are one of the data types Python considers immutable, meaning not able to be changed. In fact, all the data types you have seen so far are immutable. (Python does provide data types that are mutable, as you will soon see.)

In [25]:
s[3]='x'

TypeError: ignored

In [26]:
s="foobar"
s = s[:3] + 'x' + s[4:]  #changes can be easily made
print(s)

fooxar

In [32]:
s="foobar"
s= s.replace('b','x')
print(s)

fooxar

#String functions

###1. s.capitalize() returns a copy of s with the first character converted to uppercase and all other characters converted to lowercase

###2. s.lower() returns a copy of s with all alphabetic characters converted to lowercase:

###3. s.swapcase() returns a copy of s with uppercase alphabetic characters converted to lowercase and vice versa

###4. s.upper() returns a copy of s with all alphabetic characters converted to uppercase:

###5. s.count(< sub >) returns the number of non-overlapping occurrences of substring < sub > in s:

#The following few are important from NLP's perspective

###6. s.partition(<sep>) splits s at the first occurrence of string <sep>. The return value is a three-part tuple consisting of: ### The portion of s preceding <sep>
### < sep > itself
### The portion of s following <sep>

###7. Without arguments, s.rsplit() splits s into substrings delimited by any sequence of whitespace and returns the substrings as a list
  
###If <sep> is specified, it is used as the delimiter for splitting


There are plenty of other functions left for you to explore.

In [121]:
s="catatatatat"
print(s.count("at"))
print(s.rsplit('t'))

5
['ca', 'a', 'a', 'a', 'a', '']

In [1]:
'foo.bar'.partition('.')

('foo', '.', 'bar')

In [3]:
'foo bar baz qux'.rsplit()

['foo', 'bar', 'baz', 'qux']

In [4]:
'foo.bar.baz.qux'.rsplit(sep='.')

['foo', 'bar', 'baz', 'qux']

#Lists, Tuples and Dictionaries (Iterables)
###Extremely important

#Python Lists
###In short, a list is a collection of arbitrary objects, somewhat akin to an array in many other programming languages but more ###flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([]), as shown below:

In [0]:
a = ['foo', 'bar', 'baz', 'qux'] # a list

###The important characteristics of Python lists are as follows:

###Lists are ordered.
###Lists can contain any arbitrary objects.
###List elements can be accessed by index.
###Lists can be nested to arbitrary depth.
###Lists are mutable.
###Lists are dynamic.

#Lists Are Ordered
###A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime.

In [0]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

In [7]:
print(a==b)

False

#Lists Can Contain Arbitrary Objects

In [39]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a.type())
#print(type(a))

AttributeError: ignored

#List Elements Can Be Accessed by Index

In [126]:
#print(a[0]) #try negative indexing and slicing and stride
#try reversing a list just by using negative indexing
#try 'in' and 'not in' operators
#concatenate two lists
#multiply list by some number


# min(),max(),len()
#basic syntax - min(iterable, *iterables[, key, default])
#iterable - sequence (tuple, string), collection (set, dictionary) or an iterator object whose largest element is to be found
#*iterables (Optional) - any number of iterables whose largest is to be found
#key (Optional) - key function where the iterables are passed and comparison is performed based on its return value
#default (Optional) - default value if the given iterable is empty


a =['string', 2,'x',5]
print(a[::-1])
#a= ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
#print(min(a))
#print(max(a)) #normal comparison in case of numbers and for strings, alphabetical comparison is done
print(a*5)

[5, 'x', 2, 'string']
['string', 2, 'x', 5, 'string', 2, 'x', 5, 'string', 2, 'x', 5, 'string', 2, 'x', 5, 'string', 2, 'x', 5]

In [15]:
#Example : Find minimum among the given numbers
# using min(arg1, arg2, *args)
print('Minimum is:', min(1, 3, 2, 5, 4))

# using min(iterable)
num = [3, 2, 8, 5, 10, 6]
print('Minimum is:', min(num))

Minimum is: 1
Minimum is: 2

In [16]:
#Example : Find number whose sum of digits is smallest using key function
def sumDigit(num):
    sum = 0
    while(num):
        sum += num % 10
        num = int(num / 10)
    return sum

# using min(arg1, arg2, *args, key)
print('Minimum is:', min(100, 321, 267, 59, 40, key=sumDigit))

# using min(iterable, key)
num = [15, 300, 2700, 821, 52, 10, 6]
print('Minimum is:', min(num, key=sumDigit))

Minimum is: 100
Minimum is: 10

In [127]:
#Example : Find list with minimum length using key function
num = [15, 300, 2700, 821]
num1 = [12, 2]
num2 = [34, 567, 78]

# using min(iterable, *iterables, key)
print('Minimum is:', min(num, num1, num2, key=len))

Minimum is: [12, 2]

#Lists Can Be Nested
###You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

In [19]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x[1])
print(x[1][0])
#try reversing, slicing, negative indexing

['bb', ['ccc', 'ddd'], 'ee', 'ff']
bb

#Lists Are Mutable
###The list is the first mutable data type you have encountered. Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.

In [23]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge'] 
a[2]=10
print(a)

#A list item can be deleted with the del command:
del a[0]

['foo', 'bar', 10, 'qux', 'quux', 'corge']

#Modifying Multiple List Values
###What if you want to change several contiguous elements in a list at one time? Python allows this with slice assignment. The number of elements inserted need not be equal to the number replaced. Python just grows or shrinks the list as needed.
###Try changing values through slicing, try similar size and different sized assignments (list length can be changed through that assignment)
###You can also insert elements into a list without removing anything. Simply specify a slice of the form [n:n] (a zero-length slice) at the desired index
###You can delete multiple elements out of the middle of a list by assigning the appropriate slice to an empty list. You can also use the del statement with the same slice

In [132]:
s=[1,2,3,4]
s[2:3]=[]
print(s)
del s[0:2]
print(s)

[1, 2, 4]
[4]

#Methods that modify lists

In [133]:
a = ['a', 'b']
b=['o','p']
a=a+b

a.append(b)
print(a)

#Remember that when the + operator is used to concatenate to a list, if the target operand is an iterable, then its elements are broken out and appended to the list individually
#The .append() method does not work that way! If an iterable is appended to a list with .append(), it is added as a single object
#Try appending and concatening both iterables and non iterables

['a', 'b', 'o', 'p', ['o', 'p']]

In [26]:
#a.insert(<index>, <obj>) inserts object <obj> into list a at the specified <index>. Following the method call, a[<index>] is <obj>, and the remaining list elements are pushed to the right
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.insert(3, 3.14159)
print(a)

['foo', 'bar', 'baz', 3.14159, 'qux', 'quux', 'corge']

In [28]:
#a.remove(<obj>) removes object <obj> from list a. If <obj> isn’t in a, an exception is raised
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.remove('baz')
print(a)

['foo', 'bar', 'qux', 'quux', 'corge']

#Lists Are Dynamic
###When items are added to a list, it grows as needed. Similarly, a list shrinks to accommodate the removal of items

##Tuples
###Python provides another type that is an ordered collection of objects, called a tuple
###Tuples are identical to lists in all respects, except for the following properties:
###1. Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
###2. Tuples are immutable.

In [0]:
 t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
 #Try accessing elements via indexing
#Try reversal

##Why use a tuple instead of a list?

###Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

###Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

###There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

In [134]:
t = ('foo', 'bar', 'baz', 'qux') #packing
#try unpacking (number of variables must match)
#try packing and unpacking as a compound statement (this works without parentheses as well)
#Try swapping values in one line
a=10
b=20
a,b,c,d=t
print(d)

qux

##Dictionaries
###Dictionaries and lists share the following characteristics:

###Both are mutable.
###Both are dynamic. They can grow and shrink as needed.
###Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

###Dictionaries differ from lists primarily in how elements are accessed:

###List elements are accessed by their position in the list, via indexing.
###Dictionary elements are accessed via keys.

##Defining a Dictionary
###Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

###You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

In [0]:
MLB_team = {
...     'Colorado' : 'Rockies',
...     'Boston'   : 'Red Sox',
...     'Minnesota': 'Twins',
...     'Milwaukee': 'Brewers',
...     'Seattle'  : 'Mariners'
... }

In [33]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [0]:
#You can also construct a dictionary with the built-in dict() function. The argument to dict() should be a sequence of key-value pairs. A list of tuples works well for this:
#   d = dict([
#    (<key>, <value>),
#    (<key>, <value),
#      .
#      .
#      .
#    (<key>, <value>)
#   ])

In [0]:
MLB_team = dict((
...     ('Colorado', 'Rockies'),
...     ('Boston', 'Red Sox'),
...     ('Minnesota', 'Twins'),
...     ('Milwaukee', 'Brewers'),
...     ('Seattle', 'Mariners'),
          (2, 'cat')
... ))

In [40]:
type(MLB_team)

dict

###The entries in the dictionary display in the order they were defined. But that is irrelevant when it comes to retrieving them. Dictionary elements are not accessed by numerical index
###A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([]):

In [142]:
MLB_team[2]
MLB_team[2]=10
MLB_team['ML']={"dog":102,"pop":23}
#MLB_team['cat']
print(MLB_team['ML']['pop'])
print(MLB_team)

23

In [0]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:
#If you want to update an entry, you can just assign a new value to an existing key:
#To delete an entry, use the del statement, specifying the key to delete:
#an object of any immutable type can be used as a dictionary key
#try sublisting i.e create a sub dictionary and access it using additional key

###However, there are a couple restrictions that dictionary keys must abide by.

###First, a given key can appear in a dictionary only once. Duplicate keys are not allowed. A dictionary maps each key to a corresponding value, so it doesn’t make sense to map a particular key more than once.

###When we assign a value to an already existing dictionary key, it does not add the key a second time, but replaces the existing value:
### Similarly, if we specify a key a second time during the initial creation of a dictionary, the second occurrence will override the first

###Secondly, a dictionary key must be of a type that is immutable.

In [49]:
#Try assigning a list as key in a dictionary
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', [2, 2]: 'd'}

TypeError: ignored

Technical Note: Why does the error message say “unhashable”?

Technically, it is not quite correct to say an object must be immutable to be used as a dictionary key. More precisely, an object must be hashable, which means it can be passed to a hash function. A hash function takes data of arbitrary size and maps it to a relatively simpler fixed-size value called a hash value (or simply hash), which is used for table lookup and comparison.

Python’s built-in hash() function returns the hash value for an object which is hashable, and raises an exception for an object which isn’t:

All of the built-in immutable types you have learned about so far are hashable, and the mutable container types (lists and dictionaries) are not. So for present purposes, you can think of hashable and immutable as more or less synonymous.

In [0]:
#Built in functions
#Try 'in' and 'not in' operators for keys
#Try len()
#Some new in built functions
#d.clear() empties dictionary d of all key-value pairs
#d.get(<key>) searches dictionary d for <key> and returns the associated value if it is found. If <key> is not found, it returns None
#d.items() returns a list of tuples containing the key-value pairs in d. The first item in each tuple is the key, and the second item is the key’s value
#d.keys() returns a list of all keys in d
#d.values() returns a list of all values in d

In [143]:
#d.update(<obj>)
#If <obj> is a dictionary, d.update(<obj>) merges the entries from <obj> into d. For each key in <obj>:

#If the key is not present in d, the key-value pair from <obj> is added to d.
#If the key is already present in d, the corresponding value in d for that key is updated to the value from <obj>.
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}
d1.update(d2)
print(d1)

#Or the values to merge can be specified as a list of keyword arguments:

d1 = {'a': 10, 'b': 20, 'c': 30}
d1.update(b=200, d=400,e=300)
print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}
{'a': 10, 'b': 200, 'c': 30, 'd': 400}

#Conditional statements : The if statement

In [56]:
#Syntax
if <expr>:
    <statement>

#In the form shown above:

#<expr> is an expression evaluated in Boolean context, as discussed in the section on Logical Operators in the Operators and Expressions in Python tutorial.
#<statement> is a valid Python statement, which must be indented
#Note that the colon (:) following <expr> is required. Some programming languages require <expr> to be enclosed in parentheses, but Python does not.

SyntaxError: ignored

In [148]:
a=10
b=20
if b>a:
  if b==30:
    print("true")

IndentationError: ignored

In [0]:
#Use two variables, check greater than and less than
#Provide a string and substring and use 'in' to check if the substring is present in the string or not.
#Check if an item is present in a given list using 'in'
#use print statement in all the above
#try with multiple statements, same indentation
#try nested if

###Python’s use of indentation is clean, concise, and consistent.
###In programming languages that do not use the off-side rule, indentation of code is completely independent of block definition and code function. It’s possible to write code that is indented in a manner that does not actually match how the code executes, thus creating a mistaken impression when a person just glances at it. This sort of mistake is virtually impossible to make in Python.
###Use of indentation to define blocks forces you to maintain code formatting standards you probably should be using anyway.

In [0]:
#use else and elif
#Python ternary operator

#CONDITIONAL EXPRESSIONS 
#A common use of the conditional expression is to select variable assignment.
#<expr1> if <conditional_expr> else <expr2>
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

In [0]:
age = 12
s = 'minor' if age < 21 else 'adult'
print(s)

In [0]:
print('yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no')

##While loop

In [0]:
while <expr>:
    <statement(s)>

In [149]:
count=1
while(count<10):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9

In [0]:
#print numbers one to ten using while
#Define a list. Print elements one by one 1. reverse order  2. from the beginning
#Use pop() method for this. Pop method pops elements from a list just like in case of stacks and it returns/prints the popped value.

In [0]:
a = ['foo', 'bar', 'baz']
#while a:

In [63]:
print(len(a))

3

In [0]:
#Use while and if statements to and break keyword to print numbers upto 10 but break out of the loop when it reaches 5. ( I know it is redundant, but you do what you gotta do!)
#Use while, if and continue to print odd numbers upto 10
#Use while, if and continue to print alternate elements in a list
#Define two lists. Use nested while. Outer loop should pop elements of one list and inner loop should pop the other list's elements. Define the other list within the while loop.

#For loop (definite iteration)

In [153]:
#basic form
#for <var> in <iterable>:
#    <statement(s)>
a = ['foo', 'bar', 'baz']
for i in a:
  print(i)
  
print(list(range(1,10,2)))

for i in range(10):
  print(i)

foo
bar
baz
[1, 3, 5, 7, 9]
0
1
2
3
4
5
6
7
8
9

In [68]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
  print(k)

foo
bar
baz

In [71]:
for k in d:
  print(d[k])

foo 1
bar 2
baz 3

In [157]:
#range() function
a='6'
a=int(a)
print(a)
type(a)

6

int

In [155]:
a=input("enter a number")
print(a)

KeyboardInterrupt: ignored

##Accept two int values from the user and return their product. If the product is greater than 1000, then return their sum

##Given a range of numbers. Iterate from o^th number to the end number and print the sum of the current number and previous number

##Accept string from the user and display only those characters which are present at an even index

## Given a string and an int n, remove characters from string starting from zero up to n and return a new string

##Given a list of ints, return True if first and last number of a list is same

##Reverse a given number and return true if it is the same as the original number

In [105]:
h="hellololo lo"
h.count('lo')

4

In [99]:
a=1
b=1
count=0
count+= a==b
print(count)

1

In [103]:
print(a==b)
c=a==b
print(int(c))

True
1